{{ define "main" }}
<h1>Settings</h1>
<form action="/settings" method="post">
  <fieldset>
    <legend>Account Settings</legend>
    <div style="align-items:center; display:grid; grid-template-columns:1fr 1fr;">
      <label for="dark-mode">Dark mode</label>
      <input autofocus
             {{ if not .Settings.LightMode }}checked{{ end }}
             id="dark-mode"
             name="dark-mode"
             type="checkbox"
             value="1">
    </div>
    <div style="align-self:stretch; display:flex; justify-content:flex-end;">
      <button class="primary" type="submit" value="submit">Save</button>
    </div>
  </fieldset>
</form>
{{ end }}
